<!-- <p class="text-center text-red-500">header works!</p> -->
<!-- <div class="max-w-full p-3 pl-9 bg-sky-600  grid grid-cols-2 md:justify-between ">
    <div class="text-slate-50 py-2 text-2xl cursor-pointer">Jobcheck</div>
    <div>
        <img class="rounded-full w-12 " src="assets/icons/suraj _pic.jpeg" alt="profile picture">
    </div>
    
    
</div> -->

<nav class="p-1 bg-sky-600 shadow md:flex md:items-center md:justify-between">
    <div>
        <span class="text-2xl pl-14 text-slate-50 font-[poppins] cursor-pointer">Jobcheck</span>
    </div>
    <ul class="pr-20"> 
        <li>
            <!-- <i class="fa-solid fa-user"></i> -->
            <!-- <fa name="cog" animation="spin"></fa> -->
        </li>
        <li>
            <img class="rounded-full w-12 cursor-pointer" src="assets/icons/suraj _pic.jpeg" alt="profile picture">
        </li>
    </ul>
</nav>