/* Add a black background color to the top navigation */

  .topnav{
    background-color: black;
    overflow: hidden;
    /* border: 100; */
  }

  .topnav a{
    float: left;
    font-size: 17px;
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
    /* border: 10px; */
    text-align: center;
  }

  .topnav a:hover{
    background-color: aliceblue;
    color: black;
  }

  .topnav a.active{
    background-color: aquamarine;
    color: black;
  }
