
<nav class="bg-white  border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a href="https://mtrsuraj.netlify.app/" class="flex items-center">
        <img src="/assets/favicon.png" class=" h-8 mr-3 sm:h-9 " alt="Flowbite Logo" />
        <span class="self-center text-3xl font-medium whitespace-nowrap dark:text-white text-blue-400 ">hey<span class="text-red-400">(</span>node<span class="text-red-400">)</span></span>
    </a>
    <div class="flex md:order-2 md:space-x-8">
        <button type="button" class="text-blue-600  bg-white hover:bg-blue-100 focus:ring-4 focus:outline-none focus:ring-blue-300 font-mono  rounded-full w-36 border-blue-600 border-2 text-xl px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Log in</button>
        <button type="button" class="text-white  bg-blue-400 hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-mono rounded-full text-xl  w-44 h-auto  md:mr-0 dark:bg-blue-600  dark:hover:bg-blue-700 dark:focus:ring-blue-800  flex flex-row gap-6  "><i class="fa fa-arrow-right w-12 h-14 pt-3 text-2xl  rounded-full hover:bg-blue-300 bg-blue-500 " aria-hidden="true"></i>

            <span class="my-3.5"> Sign up</span> </button>
    </div>
    <div class="items-start   justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
      <ul class="flex flex-col p-4  pr-96 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-xl md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-white bg-red-700 rounded md:bg-transparent md:text-red-500 md:hover:text-blue-700 md:p-0 dark:text-white" aria-current="page">About</a>
        </li>
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-red-500 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Blog</a>
        </li>
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-red-500 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Services</a>
        </li>
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-red-500 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
  